
/* p-4 fixed bottom-0 bg-white w-full */

.footer{
    padding: 12px;
    position: fixed;
    bottom: 0px;
    background-color: white;
    width: 100%;
    font-size: 8px;
}

@media screen and (min-width: 768px) {
    .footer{
        padding: 12px;
        position: fixed;
        bottom: 0px;
        background-color: white;
        width: 100%;
    }
}